body {
	background-color: #f1f1f1;
	font-size: 16px;
}

#main {
	padding-top: 20px;
}

.navbar-inverse {
	background-color: #0D2233;
}

.navbar-toggle {
	float:left;
	margin-left: 10px;
	border: none;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus, 
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, 
.navbar-inverse .navbar-nav>.open>a:hover {
	background-color: #0D2233 !important;
}

/* Search bar */
#search-bar {
	margin-bottom: 10px;
}

.eac-item b {
	color: blue;
}
/*.easy-autocomplete {
	width: 90% !important;
	display: inline-block;
}

#search-bar button {
	vertical-align: unset;
}*/
/* End search bar*/

.user {
	margin: 0;
}


/* class post-itme represent a post in a list of posts*/
#post {
	background-color: #fff;
	padding: 20px;
}
.post-item {
	padding: 10px;
    background-color: #fff;
    margin-bottom: 20px;
    height: 240px;
    border: 1px solid #eae3e3;
}

.post-item h3 {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.avatar img {
	width: 40px;
    float: left;
    margin-right: 10px;
}

.avatar {
	line-height: 50px;
}

.comment-item {
	padding: 20px;
    border-top: 1px solid #f7f5f5;
}

/* Login Sign up forms */
#login-form, #signup-form {
	background-color: #fff;
	padding: 0 10px 10px;
	border: 1px solid #eae3e3;
  	border-radius: 4px;
  	min-height: 370px;
    max-width: 440px;
    margin: 20px auto;

}

#login-form h1, #signup-form h1{
	margin-bottom: 20px;
}



/*
	Tags input
*/
ul#tag-holder {
	list-style: none;
	padding-left: 0;
	overflow: hidden;
}

ul#tag-holder li {
	float: left;
	width: 50%;
}

#tag-container{
	background-color: #fff;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccd0d2;
  	border-radius: 4px;
}

#tag-container label {
	font-weight: normal;
  	font-style: italic;
  	font-size: 12px;
}



/* End Tags */

/* this id holds the published checkbox*/
#status {
	margin-bottom: 20px;
	max-width: 60px;
}

.fa-trash {
	cursor: pointer;
	margin-right: 8px;
}

#msg-container {
	overflow: hidden;
	-webkit-transition: height 2s;
	transition: height 2s;
	margin-bottom: 10px;
}

/* Tags */

#tags {
	margin-bottom: 20px;
	height: 20px;
}

#tags ul {
	float: right;
	list-style: none;
}

.tag {
	float: left;
	margin-right: 10px;
}

/* Comments */

#comments-form, #comments-container {
	border-top: 1px solid #eee;
    padding-top: 20px;
    margin-top: 20px;
}

#comments-form textarea {
	width: 100%;
	resize: none;
	border-color: #eee;
}

#comments-form button {
	float: right;
}

/* End comments */

.error-header {
	font-size: 150px !important;
}