body {
	background-color: #fff;
	font-size: 16px;
	color: #293033;
}

.navbar-inverse {
	background-color: #0D2233;
	height: 64px;
	padding-top: 10px;
	border-bottom: 1px solid #dbdbdb;
}

 .navbar-collapse {
	background-color: #0D2233;
 }

.navbar-toggle {
	float:left;
	margin-left: 10px;
	border: none;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus, 
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, 
.navbar-inverse .navbar-nav>.open>a:hover {
	background-color: #0D2233 !important;
}


/* Search bar */
#search-bar {
	margin-bottom: 15px;
	height: 36px;
}

.eac-item b {
	color: #0D2233;
}

.easy-autocomplete {
	width: 100% !important;
	display: inline-block;
}

.easy-autocomplete li {
	font-size: 16px !important;
	color: #bdbdbd !important;
}

#search-bar #search{  
	width: 100%;
}

/* End search bar*/

.user {
	margin: 0;
}


/* class post-itme represent a post in a list of posts*/
#post {
	background-color: #f8f8f8;
	padding: 20px;
}

.post-item {
	padding: 10px;
    background-color: #f8f8f8;
    margin-bottom: 20px;
    height: 240px;
    border: 1px solid #dbdbdb;
}

.post-item h3 {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.avatar img {
	width: 40px;
    float: left;
    margin-right: 10px;
}

.avatar {
	line-height: 50px;
}


/* Login Sign up forms */
#login-form, #signup-form{
	background-color: #f8f8f8;
	padding: 0 10px 10px;
	border: 1px solid #dbdbdb;
  	border-radius: 4px;
  	min-height: 370px;
    max-width: 440px;
    margin: 20px auto;

}

#login-form h1, #signup-form h1{
	margin-bottom: 20px;
}

/* Change picture and password*/
#user-avatar, #changepassword-form{
	background-color: #f8f8f8;
	padding: 0 10px 10px;
	border: 1px solid #dbdbdb;
  	border-radius: 4px;
    margin: 20px 0;
}

#user-avatar img {
	margin-bottom: 4px;
}

/*
	Tags input
*/
ul#tag-holder {
	list-style: none;
	padding-left: 0;
	overflow: hidden;
}

ul#tag-holder li {
	float: left;
	width: 50%;
	font-size: 14px;
}

#tag-container{
	background-color: #fff;
	padding: 0 10px;
	margin-bottom: 20px;
	border: 1px solid #ccd0d2;
  	border-radius: 4px;
}

#tag-container label {
	font-weight: normal;
  	font-style: italic;
  	font-size: 12px;
}



/* End Tags */

/* this id holds the published checkbox*/
#status {
	margin-bottom: 10px;
	max-width: 60px;
}

.fa-trash {
	cursor: pointer;
	margin-right: 8px;
}

#msg-container {
	overflow: hidden;
	-webkit-transition: height 2s;
	transition: height 2s;
	margin-bottom: 10px;
}

/* Tags */

#tags {
	margin-bottom: 20px;
	height: 20px;
}

#tags ul {
	float: right;
	list-style: none;
}

.tag {
	float: left;
	margin-right: 10px;
	font-size: 14px;
}

/* Comments */

#comments-form, #comments-container {
	border-top: 1px solid #eee;
    padding-top: 20px;
    margin-top: 20px;
}

.comment-item {
	padding: 20px;
    border-top: 1px solid #eee;
}

#comments-form textarea {
	width: 100%;
	resize: none;
	border-color: #eee;
}

#comments-form button {
	float: right;
}

/* End comments */

.error-header {
	font-size: 150px !important;
}

.help-block {
	font-size: 14px;
}

.form-group #name{
	padding-right: 30px;
	background-size: 16px 16px;
	background-repeat: no-repeat;
	background-position: right 8px center;
	ba
}