body {
	background-color: #E4E4E4;
	font-size: 16px;
}

.navbar-inverse {
	background-color: #0D2233;
}

.navbar-toggle {
	float:left;
	margin-left: 10px;
	border: none;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus, 
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, 
.navbar-inverse .navbar-nav>.open>a:hover {
	background-color: #0D2233 !important;
}

.user {
	margin: 0;
}

#post {
	background-color: #fff;
	padding: 10px;
}

/* class post-itme represent a post in a list of posts*/
.post-item {
	padding: 10px;
    background-color: #fff;
    box-shadow: 4px 4px 10px lightslategrey;
    margin-bottom: 20px;
    height: 200px;
}

.post-item h3 {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

/* Login form */

#login-form, #signup-form {
	background-color: #fff;
	padding: 0 10px 10px;
	border: 1px solid #ccd0d2;
  	border-radius: 4px;
  	min-height: 370px;
    max-width: 440px;
    margin: 0 auto;
}

#login-form h1, #signup-form h1{
	margin-bottom: 20px;
}



/*
	Tags
*/
ul#tag-holder {
	list-style: none;
	padding-left: 0;
	overflow: hidden;
}

ul#tag-holder li {
	float: left;
	width: 50%;
}

#tag-container{
	background-color: #fff;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccd0d2;
  	border-radius: 4px;
}

#tag-container label {
	font-weight: normal;
  	font-style: italic;
  	font-size: 12px;
}



/* End Tags */

/* this id holds the published checkbox*/
#status {
	margin-bottom: 20px;
	max-width: 60px;
}

.fa-trash {
	cursor: pointer;
	margin-right: 8px;
}

#msg-container {
	overflow: hidden;
	-webkit-transition: height 2s;
	transition: height 2s;
	margin-bottom: 10px;
}

/* Comments */

#comments-form, #comments-container {
	border-top: 1px solid #eee;
    padding-top: 20px;
    margin-top: 20px;
}

#comments-form textarea {
	width: 100%;
	resize: none;
}

#comments-form button {
	float: right;
}

/* End comments */

.error-header {
	font-size: 150px !important;
}